# Instalación de módulos


https://scikit-learn.org/stable/index.html


```sh
pip install -U scikit-learn
```

Esto nos instalará algunas dependencias que también utilizaremos, algunas de las más destacadas son:

- NumPy
- Pandas
- MatplotLib

In [4]:
import sklearn as skl
import pandas as pd
import numpy as np

## Lectura de datos de sklearn

In [11]:
import sklearn.datasets

iris_dataset = skl.datasets.load_iris(as_frame = True)

In [12]:
print(iris_dataset.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [18]:
print(iris_dataset.target_names)

['setosa' 'versicolor' 'virginica']

In [20]:
iris_dataset.frame

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## Lectura de datos usando Pandas

Vamos a leer el conjunto de datos [Auto MPG](https://archive-beta.ics.uci.edu/ml/datasets/auto+mpg), del UCI ML Repository.

In [23]:
MPG_PATH = "datasets/auto-mpg.data"

nombres_columnas_mpg = ["mpg", "cylinders", "displacement", "horsepower", "weigth", "acceleration", "model year", "origin", "car name"]

mpg_dataset = pd.read_csv(MPG_PATH, sep = '\s+', header = None, names = nombres_columnas_mpg)

In [24]:
mpg_dataset

,mpg,cylinders,displacement,horsepower,weigth,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

## Análisis de los datos con matplotlib

## Preprocesamiento de los datos

### Normalización de los datos

### Imputación de valores perdidos

## Entrenamiento, test y validación